body {
    /*set background wallpaper*/
    background: url('../img/contact-bg/baffin.jpg');
}

#centered {
	/*center the div inside this one*/
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#documents {
    /*center the text*/
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /*set correct size*/
    height: 25em;
    width: 50em;
    /*make gray-transparent*/
    background-color: black;
    opacity: .7;
    /*font*/
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    font-style: oblique;
    color: white;
    /*round the corners a bit*/
    border: 2px solid gray;
    border-radius: 10px;
}